<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.LocationInfoMapper">
    
    <resultMap type="LocationInfo" id="LocationInfoResult">
        <result property="id"    column="id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="locationCode"    column="location_code"    />
        <result property="locationName"    column="location_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="level"    column="level"    />
        <result property="capacity"    column="capacity"    />
        <result property="inboundQuantity"    column="inbound_quantity"    />
        <result property="outbountQuantiy"    column="outbount_quantiy"    />
        <result property="locationStatus"    column="location_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLocationInfoVo">
        select id, warehouse_id, location_code, location_name, parent_id, level, capacity, inbound_quantity, outbount_quantiy, location_status, create_by, create_time, update_by, update_time, remark from tb_location_info
    </sql>

    <select id="selectLocationInfoList" parameterType="LocationInfo" resultMap="LocationInfoResult">
        <include refid="selectLocationInfoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="locationCode != null  and locationCode != ''"> and location_code = #{locationCode}</if>
            <if test="locationName != null  and locationName != ''"> and location_name like concat('%', #{locationName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="locationStatus != null  and locationStatus != ''"> and location_status = #{locationStatus}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectLocationInfoById" parameterType="Long" resultMap="LocationInfoResult">
        <include refid="selectLocationInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertLocationInfo" parameterType="LocationInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_location_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="locationCode != null and locationCode != ''">location_code,</if>
            <if test="locationName != null">location_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="level != null">level,</if>
            <if test="capacity != null">capacity,</if>
            <if test="inboundQuantity != null">inbound_quantity,</if>
            <if test="outbountQuantiy != null">outbount_quantiy,</if>
            <if test="locationStatus != null and locationStatus != ''">location_status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="locationCode != null and locationCode != ''">#{locationCode},</if>
            <if test="locationName != null">#{locationName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="level != null">#{level},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="inboundQuantity != null">#{inboundQuantity},</if>
            <if test="outbountQuantiy != null">#{outbountQuantiy},</if>
            <if test="locationStatus != null and locationStatus != ''">#{locationStatus},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLocationInfo" parameterType="LocationInfo">
        update tb_location_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="locationCode != null and locationCode != ''">location_code = #{locationCode},</if>
            <if test="locationName != null">location_name = #{locationName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="inboundQuantity != null">inbound_quantity = #{inboundQuantity},</if>
            <if test="outbountQuantiy != null">outbount_quantiy = #{outbountQuantiy},</if>
            <if test="locationStatus != null and locationStatus != ''">location_status = #{locationStatus},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLocationInfoById" parameterType="Long">
        delete from tb_location_info where id = #{id}
    </delete>

    <delete id="deleteLocationInfoByIds" parameterType="String">
        delete from tb_location_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>